.menuToggle {
  position: relative;
  background: transparent;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: none;
  display: inline-grid;
  place-items: center;
}

.menuToggle span {
  display: block;
  height: 0.2rem;
  border-radius: 100px;
  width: 50px;
  background: var(--color-secondary);
  transition: all 0.15s ease;
  position: absolute;
  right: 8px;
  transform: rotate(0deg);
}

.menuToggle span:first-child {
  width: 50px;
  top: 18px;
}
.menuToggle span:last-child {
  width: 20px;
  top: 27px;
}

.menuToggle[aria-expanded="true"] span {
  /* background-color: #ffd9cb; */

  top: 23px;
}

.menuToggle[aria-expanded="true"] span:first-child {
  transform: rotate(45deg);
  width: 30px;
}
.menuToggle[aria-expanded="true"] span:last-child {
  transform: rotate(-45deg);
  width: 30px;
}
.media-wrapper[aria-hidden="false"] {
  visibility: hidden;
}
.overlay[aria-hidden="true"] {
  opacity: 0;
}
